body {
  font-family: sans-serif;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

header {
  padding: 1rem;
  background: rgba(235, 245, 255, 0.85);
}

header h1 {
  margin-top: 0;
  margin-bottom: 0;
}

main {
  padding: 1rem;
  flex: 1;
}

code {
  background: #f7f7f7;
  border: 1px solid #ddd;
  padding: 2px;
  border-radius: 0.25rem;
  font-weight: normal;
}

hr {
  border-width: 1px 0 0 0;
  border-color: #ddd;
}

label {
  font-weight: bold;
  margin-bottom: 0.25rem;
  display: inline-block;
}

textarea {
  width: 100%;
  min-height: 50px;
  max-height: 50vh;
  resize: none;
}

textarea[readonly] {
  user-select: all;
}

#input {
  margin-bottom: 1rem;
}

#tokens {
  list-style: none;
  padding: 0;
  margin: 0 0 1rem 0;
}

#tokens li {
  margin-bottom: 0.5rem;
}

#tokens label {
  margin-right: 0.5rem;
}

#tokens label code {
  vertical-align: text-top;
}

#tokens small {
  color: #999;
}

#tokens input {
  display: block;
}

@media (width >= 768px) {
  header {
    display: flex;
    align-items: center;

    position: sticky;
    top: 0;

    backdrop-filter: blur(5px);
  }

  header h1 {
    margin-right: 1rem;
  }

  #tokens li {
    display: flex;
    align-items: center;
  }

  #tokens label {
    margin: 0;
    min-width: 120px;
    text-align: right;
  }

  #tokens input {
    margin: 0 0.5rem;
  }

  #tokens small {
    order: 2;
  }
}
