body {
  padding: 1rem;
  font-family: sans-serif;
}

header {
  margin-bottom: 2rem;
}

header h1 {
  margin-top: 0;
  margin-bottom: 0;
}

label {
  font-weight: bold;
  margin-bottom: 0.25rem;
  display: inline-block;
}

textarea {
  width: 100%;
  min-height: 200px;
  max-height: 50vh;
  resize: vertical;
}

#input {
  margin-bottom: 1rem;
}

#tokens {
  list-style: none;
  padding: 0;
  margin: 0 0 1rem 0;
}

#tokens li {
  margin-bottom: 0.5rem;
}

#tokens label {
  
  margin-right: .5rem;
}

#tokens label code {
  vertical-align: text-top;
}

#tokens small {
  color: #999;
}

#tokens input {
  display: block;
}

@media (width >= 768px) {
  header {
    display: flex;
    align-items: center;
  }

  header h1 {
    margin-right: 1rem;
  }

  #tokens li {
    display: flex;
    align-items: center;
  }

  #tokens label {
    margin: 0;
    min-width: 120px;
    text-align: right;
  }

  #tokens input {
    margin: 0 0.5rem;
  }

  #tokens small {
    order: 2;
  }
}
